{% block content %}
{% load crispy_forms_tags %}
                    <h3>Оставить
                        отклик</h3>
                    <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
                        {% csrf_token %}
                            <p><label class="form-label">
                                Ваш отклик *
                            </label>
                            <textarea class="form-label" rows="5" name="text"
                                      id="contactcomment" required=""></textarea></p>
                                <p><label for="contactusername" class="form-label">
                                    Имя *
                                </label>
                                <input type="text" class="form-label" name="name"
                                       id="contactusername" required=""></p>
                                <p><label for="contactemail" class="form-label">
                                    Email *
                                </label>
                                <input type="email" class="form-label" name="email"
                                       id="contactemail" required=""></p>
                        <p><button type="submit"
                                class="form-label">
                            Отправить
                        </button></p>
                    </form>
        {% for comment in board.comment_set.all %}
                    <h5>
                        {{ comment.name }}
                    </h5>
                    <p>
                        {{ comment.text }}
                    </p>
                    {#                    <div class="media mt-5 editContent"#}
                    {#                         style="outline: none; cursor: inherit;">#}
                    {#                        <a class="pr-3" href="#">#}
                    {#                            <img src="bundles/images/te1.jpg" class="img-fluid " alt="image">#}
                    {#                        </a>#}
                    {#                        <div class="media-body">#}
                    {#                            <h5 class="mt-0 editContent"#}
                    {#                                style="outline: none; cursor: inherit;">Leia Organa</h5>#}
                    {#                            <p class="mt-2 editContent"#}
                    {#                               style="outline: none; cursor: inherit;"> Cras sit amet#}
                    {#                                nibh libero, in gravida nulla. Nulla vel metus#}
                    {#                                scelerisque ante sollicitudin. Cras purus odio,#}
                    {#                                vestibulum in vulputate at, tempus viverra turpis. Fusce#}
                    {#                                condimentum nunc ac nisi vulputate fringilla..</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}