{% block content %}
{% load crispy_forms_tags %}
                    <h3>Оставить
                        отклик</h3>
                    <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
                        {% csrf_token %}
                            <p><label class="form-label">
                                Ваш отклик *
                            </label>
                            <textarea class="form-label" rows="5" name="text"
                                      id="contactcomment" required=""></textarea></p>
                                <p><label for="contactusername" class="form-label">
                                    Имя *
                                </label>
                                <input type="text" class="form-label" name="name"
                                       id="contactusername" required=""></p>
                                <p><label for="contactemail" class="form-label">
                                    Email *
                                </label>
                                <input type="email" class="form-label" name="email"
                                       id="contactemail" required=""></p>
                        <p><button type="submit"
                                class="form-label">
                            Отправить
                        </button></p>
                    </form>
{% with comments.count as total_comments %}
<h2>{{ total_comments }} Отклики</h2>
                    <p>
                   {% endwith %} {% for comment in comments %}
                    </p>
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>

                    {% endfor %}

{% endblock %}